
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Add Driver Details</h6>
    </div>

    <div class="card-body">
      <form [formGroup] = "createDriverForm" (ngSubmit)="SaveDriver()">

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputEmail4"> Name </label>
            <input type="text" formControlName="Name" class="form-control" placeholder="Enter Name here" maxlength="50"
            [ngClass]="{'is-invalid': createDriverForm.get('Name').errors && createDriverForm.get('Name').touched}">
          </div>
          <div class="form-group col-md-4">
            <label for="inputPassword4">Certificate No.</label>
            <input type="text" pattern="\d*" formControlName="CertificateNo" class="form-control" placeholder="Enter Certificate No. here" maxlength="15"
            [ngClass]="{'is-invalid': createDriverForm.get('CertificateNo').errors && createDriverForm.get('CertificateNo').touched}">
          </div>
          <div class="form-group col-md-4">
            <label for="inputPassword4">License No.</label>
            <input type="text" pattern="\d*" formControlName="LicenseNo" class="form-control" placeholder="Enter License No. here" maxlength="18"
            [ngClass]="{'is-invalid': createDriverForm.get('LicenseNo').errors && createDriverForm.get('LicenseNo').touched}">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputEmail4"> Transport Name </label>
            <input type="text" formControlName="TransPortName" class="form-control" placeholder="Enter Transport Name here" maxlength="50"
            [ngClass]="{'is-invalid': createDriverForm.get('TransPortName').errors && createDriverForm.get('TransPortName').touched}">
          </div>
          <div class="form-group col-md-4">
            <label for="inputPassword4">Transport Address</label>
            <input type="text" formControlName="TransPortAddress" class="form-control"  placeholder="Enter Transport Address here" maxlength="300"
            [ngClass]="{'is-invalid': createDriverForm.get('TransPortAddress').errors && createDriverForm.get('TransPortAddress').touched}">
          </div>
          <div class="form-group col-md-4">
            <label for="inputPassword4">Transport Phone No.</label>
            <input type="text" pattern="\d*" formControlName="TransPortPhoneNo" class="form-control"  placeholder="Enter Transport phoneNo. here" maxlength="12"
            [ngClass]="{'is-invalid': createDriverForm.get('TransPortPhoneNo').errors && createDriverForm.get('TransPortPhoneNo').touched}">
          </div>
        </div>

        
        <div class="form-row">
          
          <div class="form-group col-md-4">
            <label for="inputPassword4">Training Period</label><br>
            <div class="form-check form-check-inline">
              <input formControlName="TrainingPeriod" class="form-check-input " type="radio" name="TrainingPeriod" (click) ="hideDoc($event)"  value="1">
              <label class="form-check-label" for="inlineRadio1">1 days</label> 
              &nbsp; &nbsp; &nbsp;
              <input formControlName="TrainingPeriod" class="form-check-input" type="radio" name="TrainingPeriod" (click) ="hideDoc($event)"  value="3">
              <label class="form-check-label" for="inlineRadio1">3 days</label>
            </div>
          </div>
          <div class="form-group col-md-4 mt-3">
            <mat-form-field color="accent" >
              <mat-label>Training Start</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="TrainingStartDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="form-group col-md-4">
            <label >Select Card Validity</label>
            <select (change)="AddYears()" class="form-control" formControlName="Validity">
            <option selected value="3">3 Years</option>
            <option value="1">1 Year</option>
            </select>
          </div>
        </div>  

        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="inputPassword4">Address (license)</label>
            <input type="text" formControlName="Address" class="form-control"  placeholder="Enter address here" maxlength="150"
            [ngClass]="{'is-invalid': createDriverForm.get('Address').errors && createDriverForm.get('Address').touched}">  
          </div>
          <div class="form-group col-md-4" *ngIf="doc">
            <label for="inputPassword4">One Day Certificate</label>
            <div class="input-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="onFileChangeOneDayDoc($event)" formControlName="OneDayDoc"
                  aria-describedby="inputGroupFileAddon01"
                  [ngClass]="{'is-invalid': invalid && createDriverForm.get('OneDayDoc').touched}">
                <label class="custom-file-label" for="inputGroupFile01">{{onedaydocname}}</label>
              </div>
            </div>  
          </div>
        </div>  
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputEmail4"> Payment amount </label>
            <input type="text" pattern="\d*" formControlName="Amount" class="form-control" id="inputEmail4" placeholder="Enter amount here" maxlength="8"
            [ngClass]="{'is-invalid': createDriverForm.get('Amount').errors && createDriverForm.get('Amount').touched}">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Select payment option</label>
            <select id="inputState" class="form-control" formControlName="PaymentType">
            <option selected value="Cash">Cash</option>
            <option value="Check">Check</option>
            <option value="Online">Online</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputPassword4">Documents</label>
            <div class="input-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile03" (change)="onFileChangeDocument($event)" formControlName="Document"
                  aria-describedby="inputGroupFileAddon03"
                  [ngClass]="{'is-invalid': createDriverForm.get('Document').errors && createDriverForm.get('Document').touched}">
                <label class="custom-file-label" for="inputGroupFile03">{{Docname}}</label>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4 mt-4" >
            <mat-form-field color="accent">
              <mat-label>Date Of Birth</mat-label>
              <input matInput [matDatepicker]="picker2" formControlName="DOB"
              [ngClass]="{'is-invalid': createDriverForm.get('DOB').errors && createDriverForm.get('DOB').touched}">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="form-group col-md-4">
            <label for="inputPassword4">Photo</label>
            <div class="input-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="onFileChangePhoto($event)" formControlName="Photo"
                  aria-describedby="inputGroupFileAddon01"
                  [ngClass]="{'is-invalid': createDriverForm.get('Photo').errors && createDriverForm.get('Photo').touched}">
                <label class="custom-file-label" for="inputGroupFile01">{{photoname}}</label>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" [disabled]="createDriverForm.invalid || invalid" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-danger ml-2" (click)="Cancel()">Cancel</button>
      </form>
    </div>
  </div>
