
  <div class="mat-elevation-z8">
    <div style="height: 50px; position: sticky;">
      <div class="form-row">
        <div><a class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm mt-3 ml-1" (click)="AddAdmin()"><i class="fas fa-download fa-sm text-white-50"></i>Add Admin</a></div>
        <div class="form-group col-md-3">
          <mat-form-field class="d-none d-sm-inline-block search-form-field ml-5" floatLabel="never">
            <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
            <button mat-button matSuffix mat-icon-button area-label="Clear">
            <mat-icon *ngIf="searchKey" (click)="ClearIt()">close</mat-icon></button>
          </mat-form-field>
        </div>
        <div class="form-group col-md-3 ml-4 mt-4">
          <select *ngIf="this.authService.decodedToken?.role.length==4" (change)="loadUsers()" [(ngModel)]="AdminDetails.type" class="selectpicker ml-4 btn-primary" data-style="btn-primary">
            <option value=ALL>All Admins</option>
            <option value=3>Branch Admin</option>
            <option value=2>Account Admin</option>
            <option value=1>Driver Admin</option>
            <option value=4>Super Admin</option>
          </select>
          <select *ngIf="this.authService.decodedToken?.role.length==3" (change)="loadUsers()" [(ngModel)]="AdminDetails.type"  class="selectpicker ml-4 btn-primary" data-style="btn-primary">
            <option value=3>Branch Admin</option>
            <option value=2>Account Admin</option>
            <option value=1>Driver Admin</option>
          </select>
        </div>  
        <div class="form-group col-md-3 ml-3 mt-4">
          <select (change)="loadUsers()" [(ngModel)]="AdminDetails.Branch" [disabled]="this.authService.decodedToken?.role.length<4" class="selectpicker ml-4 btn-primary"  data-style="btn-primary">
            <option selected value="ALL">All Branch</option>
            <option *ngFor="let item of BranchCity"  [value]="item">{{item}}</option>
          </select>
        </div>
      </div>
    </div>
    <mat-table [dataSource] = "UserAdmin">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="nameAdmin">
        <mat-header-cell *matHeaderCellDef>Full Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>
      <ng-container class="mr-2" matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="userName">
        <mat-header-cell *matHeaderCellDef>Username</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.userName}}</mat-cell>
      </ng-container>
      <ng-container class="ml-4" matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="DeleteUser(element)"><mat-icon>delete_outline</mat-icon></button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6" >
          <app-Spinner></app-Spinner>
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="6" >
          No Data to display...
        </mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="DisplayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns:DisplayedColumns;"></mat-row>
      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':showLoading==false}"></mat-footer-row>
      <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':EmptyData==false}"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions] ="[5, 10, 15, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>
